<!-- About 1 - Bootstrap Brain Component -->
<!-- Add these classes to your HTML elements -->
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <h1 class="bouncing-head"
        style="background-color: rgb(2, 12, 41);color:#fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: bold;padding:100px;margin: 50px;">
        <ins>ABOUT THE INSTITUTE</ins>
    </h1>


    <section class=" py-3 py-md-5">

        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6 col-xl-5 ">
                    <img class=" bouncing-image img-fluid rounded" loading="lazy" src="./assets/women-silai.jpeg"
                        alt="About 1">
                    <!-- <img src="./assets/women-silai.jpeg" alt="Bouncing Image" class="bouncing-image"> -->

                </div>
                <div class=" col-12 col-lg-6 col-xl-7">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <h1 class="bouncing-head">Who Are We?</h1>
                            <p class="lead fs-4 text-secondary mb-3 bouncing-text">
                                महिला व्यवसाय शिक्षण बहुउद्देशीय संस्था,अकोला मध्ये आपले स्वागत आहे, जिथे
                                आम्ही शिक्षण, सक्षमीकरण आणि रोजगाराच्या संधींद्वारे महिलांच्या जीवनावर सकारात्मक प्रभाव
                                पाडण्यासाठी वचनबद्ध आहोत.
                            </p>
                            <p class="lead mb-3">वैयक्तिक आणि व्यावसायिक वाढीस चालना देणारे आश्वासक आणि
                                सर्वसमावेशक
                                वातावरण निर्माण करणे हे आमचे ध्येय आहे..</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-3 py-md-5">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6 col-xl-5">
                    <h1>OUR VISION</h1>
                    <!-- <img class=" bouncing-image img-fluid rounded" loading="lazy" src="./assets/women-silai.jpeg"
                    alt="About 1"> -->
                    <p class="lead mb-3">We envision a world where every woman has the opportunity to build a
                        successful career and achieve her aspirations. By providing comprehensive job training and
                        employment assistance, we aim to break down barriers and create pathways for women to thrive
                        in the workforce.</p>

                    <!-- <img src="./assets/women-silai.jpeg" alt="Bouncing Image" class="bouncing-image"> -->

                </div>
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">

                            <img class=" bouncing-image img-fluid rounded" loading="lazy"
                                src="./assets/beauty-parlour.jpg" alt="About 1">
                            <!-- <p class="lead mb-3">We envision a world where every woman has the opportunity to build a
                            successful career and achieve her aspirations. By providing comprehensive job training and
                            employment assistance, we aim to break down barriers and create pathways for women to thrive
                            in the workforce.</p> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class=" vh-100">
        <h1>OUR TEAM</h1>

        <div class="content1 container py-5 h-100 shadow-lg p-3 mb-5 bg-grey rounded">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                        alt="Generic placeholder image" class="img-fluid"
                                        style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">Tara Kshirsagar</h5>
                                    <p class="mb-2 pb-1" style="font-size: 20px;">CEO/अध्यक्ष</p>
                                    <div class="d-flex pt-1">
                                        <button type="button"
                                            class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                                        <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                        alt="Generic placeholder image" class="img-fluid"
                                        style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">Suraj Kshirsagar</h5>
                                    <p class="mb-2 pb-1" style="font-size: 20px;">उपाध्यक्ष</p>
                                    <div class="d-flex pt-1">
                                        <button type="button"
                                            class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                                        <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                        alt="Generic placeholder image" class="img-fluid"
                                        style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">Kiran Kshirsagar</h5>
                                    <p class="mb-2 pb-1" style="font-size: 20px;">सचिव</p>

                                    <div class="d-flex pt-1">
                                        <button type="button"
                                            class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                                        <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="contact">


        <!-- <form id="contact_form" name="contact_form" method="post">
            <div class="mb-5 row">
                <div class="col">
                    <label>First Name</label>
                    <input type="text" required maxlength="50" class="form-control" id="first_name" name="first_name">
                </div>
                <div class="col">
                    <label>Last Name</label>
                    <input type="text" required maxlength="50" class="form-control" id="last_name" name="last_name">
                </div>
            </div>
            <div class="mb-5 row">
                <div class="col">
                    <label for="email_addr">Email address</label>
                    <input type="email" required maxlength="50" class="form-control" id="email_addr" name="email"
                        placeholder="name@example.com">
                </div>
                <div class="col">
                    <label for="phone_input">Phone</label>
                    <input type="tel" required maxlength="50" class="form-control" id="phone_input" name="Phone"
                        placeholder="Phone">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="message" name="message" rows="5"
                        placeholder="Messagae"></textarea>
                </div>
                <button type="submit" class="btn btn-dark px-4 btn-lg">Post</button>
            </div>

        </form> -->

        <div class="container contact">
            <h1>CONTACT US</h1>
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">



                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">
            </form>
        </div>

    </section>

    <div class="ratio ratio-16x9">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.2193142018295!2d76.97438370964251!3d20.70131698078753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd73185087f98eb%3A0x9ad238cf3e60397!2sOld%20Balapur%20Rd%2C%20Gayatri%20Nagar%2C%20Sukapur%2C%20Akola%2C%20Maharashtra%20444002!5e0!3m2!1sen!2sin!4v1710340641182!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>